{
  "ConnectionStrings": {
    "AuthDb": "Server=localhost,1433;Database=AuthDb;User Id=sa;Password=YOUR_PASSWORD;TrustServerCertificate=True;"
  },
  "JwtSettings": {
    "Secret": "YOUR_JWT_SECRET_KEY_AT_LEAST_32_CHARACTERS",
    "Issuer": "AuthService",
    "Audience": "AuthServiceClient",
    "ExpirationMinutes": 60
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
